<div class="jumbotron">
  <h1>MacroMealPlanner</h1>
  <p class="lead">Simple, bare-bones way to calculate meal portioning to hit your macros. I built this to serve as an intuitive starting-step measure to use before and instead of all the complicated calculators.</p>
  <% if user_signed_in? %>
    <%= link_to user_home_path(current_user), class: "btn btn-lg btn-success" do  %>
      <span class="glyphicon glyphicon-cutlery"></span> I have returned!
    <% end %>
  <% else %>
    <%= link_to new_user_registration_path, class: "btn btn-lg btn-success" do %>
      <span class="glyphicon glyphicon-cutlery"></span> Sign Up Today
    <% end %>
  <% end %>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Clicking Action</h4>
    <p>Click your portion sizes up and down</p>

    <h4>Tested Accuracy</h4>
    <p>Have all calculations take place here, with tests, instead of a spreadsheet where it could be calculating wrong and you won't know it! </p>

    <h4>It's good</h4>
    <p>So good, you could rub it on your face</p>
  </div>

  <div class="col-lg-6">
    <h4>Maybe Even Keyboard Support</h4>
    <p>Reminder for myself for later: use keyboard keys to adjust portions</p>

    <h4>Irony?</h4>
    <p>I conceived of and built the majority of this app while eating a bag of starburst my friend left at my place</p>

    <h4>Totally Generic</h4>
    <p>Wow, another bootstrap theme</p>
  </div>
</div>
